version: "3.9"
services:
  api:
    build: .
    container_name: library-api
    restart: always
    ports:
      - "8000:8000"
    env_file:
      - .env
    depends_on:
      - database_library
    volumes:
      - ./library:/app

  database_library:
    container_name: library-database
    image: mysql:8.2
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MYSQL_DATABASE: ${MYSQL_DATABASE}
      MYSQL_USER: ${MYSQL_USER}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}
    expose:
      - 3306
    ports:
      - "3306:3306"
    volumes:
      - ./dbdata/${MYSQL_DATABASE}:/var/lib/mysql
  
  redis:
    container_name: library-redis
    image: redislabs/rejson:2.2.0
    restart: always
    volumes:
      - redis_data:/data
    ports:
      - "${REDIS_PORT}:6379"
    env_file:
      - .env
    
  celery:
    build : .
    container_name: library-celery
    command: poetry run celery -A library worker -l INFO
    env_file:
      - .env
    depends_on:
      - redis
      - api

volumes:
  database_data:
    name: "library-database"
  redis_data:
    name: "library-redis"
